---
import './pricesBlock.scss';
import {priceData} from '../../assets/priceCards.ts';

import PriceCard from '../PriceCard/PriceCard.astro';


---

<div class="prices">
    <div style="gap: 0px;" class="main_container">
        <h3>Grow confidently with predictable pricing</h3>
        <div class="compare">
            <span class="compare_text">COMPARE</span>
            <button class="compare_button">
                <img src=`/icons/calculator.svg` alt="calculator icon" />
                <span>Calculator</span>
            </button>
        </div>
        <div class="price_cards_wrapper">
            {
                priceData.map(priceCard => {
                    return <PriceCard 
                        title={priceCard.title}
                        info={priceCard.info}
                        price={priceCard.price}
                        options={priceCard.options}
                    />
                })
            }
        </div>
    </div>
</div>