---
import styles from './Header.module.scss';
---

<header class={styles.header}>
    <div class={styles.headerLine}>
        <nav class={styles.nav}>
            <a href="/">
                <img src='/icons/peer_black.svg' alt="peer icon" class={styles.logo} />
            </a>
            <button class={styles.navBtn}>About</button>
            <button class={styles.navBtn}>Discord</button>
            <button class={styles.navBtn}>Github</button>
        </nav>
        <div class={styles.auth}>
            <a href="/login">
                <img src="/icons/person.svg" alt="person icon" class={styles.authIcon} />
            </a>
            <div class={styles.authLinks}>
                <a href="/login" class={styles.authLink}>Sign in</a>
                <span class={styles.authSeparator}>/</span>
                <a href="/signup" class={styles.authLink}>Sign up</a>
            </div>
        </div>
    </div>
</header>