---
import '../scss/priceCard.scss';
import { type CSSProperties } from 'react';

export interface IPriceCard {
    title: string;
    info: string;
    price: number;
    options: readonly string[];
}

const {title, info, price, options} = Astro.props as IPriceCard;

const pricePerMonthStyles: CSSProperties = {
    alignItems: price ? 'center' : 'flex-start'
}

const extraUsage: CSSProperties = {
    alignSelf: price ? 'center' : 'self-start',
    marginTop: price ? '0px' : '5px'
}

---


<article class="price_article">
    <div class="price_header">
        <h2>{title}</h2>
        <p>{info}</p>
    </div>
    <div class="price_container">
        <div class="price_per_month_container">
            <div style={pricePerMonthStyles} class="price_per_month" >
                <span class="price">{`$${price}`}</span>
                <div style={extraUsage} class="extra_usage" >
                    <span>/month</span>
                    {price ? <span>+extra usage</span> : null}
                </div>
            </div>
            <button class="wide_button">{price ? 'Select Plan' : 'Start for Free'}</button>
        </div>
    </div>
    <div class="price_footer">
        <div class="price_options_wrapper">
            <span>INCLUDES:</span>
            <ul class="options_ul">
                {
                    options.map(optionText => {
                        let iconSrc:string;
                        const lowerOption = optionText.toLowerCase();

                        if (lowerOption.startsWith('low')) {
                            iconSrc = '/icons/low_priority.svg';
                        } else if (lowerOption.startsWith('high')) {
                            iconSrc = '/icons/high_priority.svg';
                        } else {
                            iconSrc = '/icons/check_mark.svg';
                        }

                        return (
                            <li class="option_li">
                                <img src={iconSrc} alt="unordered icon" />
                                <span>{optionText}</span>
                            </li>
                        )
                    })
                }
                {
                    !price && <li class="option_li">
                        <img src='/icons/check_mark.svg' alt="unordered icon" />
                        <div>
                            <span>Access to </span>
                            <a href="#">
                                Launch
                                <img src='/icons/arrow.svg' alt="arrow" />
                            </a>
                        </div>
                    </li>
                }
            </ul>
        </div>
        <div class="price_features">
            <img src=`/icons/download.svg` alt="download icon" />
            <span>View all features</span>
        </div>
    </div>
</article>